

<div class="container">
  <div *ngFor="let item of userList|async">
    <div class="m-2 ">
      <mat-card>
        <mat-card-title>
          {{item.firstName}} {{item.lastName}}
        </mat-card-title>
        <mat-card-content>
          <p>{{item.email}}</p>
          <p>Roles: {{item.roles}}</p>
          <p><small id="num-of-messages">Posts: {{item.messages.length}}</small></p>

          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['messages', 'userId']"
            [queryParams]="{'userId': item.id}">Messages</button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
