<h1 id="title-of-page">Messages of Chosen Topic </h1>



<div class="container">
  <div *ngFor="let item of messageList|async" >
   <div class="m-2">
    <mat-card>
      <mat-card-title>
        {{item.title}}
      </mat-card-title>
      <mat-card-content>
        {{item.content}}
      </mat-card-content>
      <mat-card-footer>
        <div class="m-2">
          <small class="text-muted">{{authorsMap.get(item.userId)}}</small>
          <small class="text-muted float-end m-b-4 ">{{item.creationDateTime | date:'dd.MM.yyyy h:mm a'}}</small>
        </div>
      </mat-card-footer>
    </mat-card>
   </div>
  </div>
</div>

