<h1 id="title">Messages of {{authorsMap.get(userId)}}</h1>
<div class="container">
  <div *ngFor="let item of messageList|async" >
   <div class="m-2">
    <mat-card>
      <mat-card-title>
        Title: {{item.title}}
      </mat-card-title>
      <mat-card-subtitle>
        <button class="btn btn-outline-danger me-2 float-end" *ngIf="isAdministrator()"
        (click)="delete(item)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </mat-card-subtitle>
      <mat-card-content>
        Content: {{item.content}}
        <p><small class="text-muted">Topic: {{topicMap.get(item.topicId)}}</small></p>
      </mat-card-content>

      <mat-card-footer>
        <div class="m-2">
          <small class="text-muted">{{authorsMap.get(item.userId)}}</small>

          <small class="text-muted float-end m-b-4 ">{{item.creationDateTime | date:'dd.MM.yyyy h:mm a'}}</small>
        </div>
      </mat-card-footer>
    </mat-card>
   </div>
  </div>
</div>
