<form class="form-signin" [formGroup]="form" (submit)="submit()">

  <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

  <input formControlName="FirstName" type="text" class="form-control" placeholder="First Name" required>

  <input formControlName="LastName" type="text" class="form-control" placeholder="Last Name" required>

  <input formControlName="Email" type="email" class="form-control" placeholder="Email address" required>

  <input formControlName="Password" type="password" class="form-control" placeholder="Password" required>

  <input formControlName="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
