

<!-- <div class="topic-box">
  <table class="table">
    <thead class="table-dark">
      <th>Name</th>
      <th>Date</th>
      <th>Author</th>
      <th>Quantity of Messages</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of topicList|async">
        <td>{{item.name}}</td>
        <td>{{item.created  | date:'shortDate'}}</td>
        <td>{{writeAuthor(item.userId)}}</td>
        <td>{{item.messages.length}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let item of topicList|async" >
        <div class="card shadow-sm">

          <div class="card-body">
            <p class="card-text">{{item.name}}</p>
            <small id="num-of-messages">Posts: {{item.messages.length}}</small>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">{{authorsMap.get(item.userId)}}</small>
              <small class="text-muted">{{item.created | date:'dd.MM.yyyy h:mm a'}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

